@model Kora_Today.Models.LocalPasswordModel
<style>
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form .in-put {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

</style>

<h3 style="text-align:center;color:green">Change Password</h3>
<div class="login-page">
<div class="form">
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

                @Html.PasswordFor(m => m.OldPassword,new { @class = "in-put" , placeholder = "Old Password" })
    
                @Html.PasswordFor(m => m.NewPassword,new { @class = "in-put" , placeholder = "New Password" })
    
                @Html.PasswordFor(m => m.ConfirmPassword,new { @class = "in-put" , placeholder = "Confirm Password" })

    
        <input type="submit" value="Change password" class="btn"/>
    
}
</div>
</div>