@model Kora_Today.Models.MatchTv

@{
    ViewBag.Title = "Delete Match Tvs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Match Tvs</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MatchTv</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MatchVideoId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatchVideoId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MatchVideoName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatchVideoName)
    </div>

    <div class="display-label">
         @Html.DisplayName("MatchDescription")
    </div>
    <div class="display-field">
            @Html.DisplayFor(model => model.Match.MatchHome) - @Html.DisplayFor(model => model.Match.MatchAway) - @Html.DisplayFor(model => model.Match.MatchDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
