@model IPagedList<Kora_Today.Models.Player>
@using PagedList;
@using PagedList.Mvc;
@RenderPage("/Views/Shared/_Dashboard.cshtml")

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Players</h2>

<p>
    @Html.ActionLink("Create New Player", "Create")
</p>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().League.LeagueName)
        </th>
        <th>
            @Html.ActionLink("PlayerClub", "Index", new { sortby = ViewBag.league})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.League.LeagueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerClub)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerId })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortby = Request["sortby"] }),
new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,DisplayPageCountAndCurrentLocation = true})